* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: 'Coiny', cursive;
  
}

/* 
font-family: 'Bowlby One', cursive;
font-family: 'Coiny', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Staatliches', cursive; 
*/

body{
  background-color: #FFDF14;
}

.toggleAudio {
  grid-row: 1;
  grid-column: 5;
  outline: none;
  border: none;
  padding: 20%;
  border-radius: 50%;
  color: #8EADFF;
  background-color: #3A1971;
  cursor: pointer;
}

.toggleAudio:hover {
  color: #bdcfff;
  background-color: #452d6b;
  cursor: pointer;
}

.toggleAudio:active {
  color: #3b5ebe;
  background-color: #1e0546;
  cursor: pointer;
}


.modalStart{
  z-index: +1;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.99);
  color: #8EADFF;
}

.text{
  font-size: 5vw;
}

.startCzar{
  font-size: 2vw;
  max-height: 100%;
}

.gameStart{
  text-align: center;
  font-size: 2vw;
}

.chooseRounds, label{
  font-size: 3vw;
  cursor: pointer;
}

.roundSelector{
  min-height: 15%;
  min-width: 20%;
  font-size: 2vw;
  color: #8EADFF;
  background-color: transparent;
  border: #6D51B7 solid 7px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.09s;
}

.roundSelector:active{
  min-height: 13%;
  min-width: 18%;
  font-size: 1.8vw;
  color: #697fbd;
  border: #574096 solid 7px;
}

.roundSelector:hover{
  color: #afc3fa;
  border: #8663e7 solid 7px;
}

.startGame{
  min-height: 15%;
  min-width: 20%;
  font-size: 1vw;
  color: #8EADFF;
  background-color: transparent;
  border: #6D51B7 solid 7px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.09s;
}

.startGame:active{
  min-height: 13%;
  min-width: 18%;
  font-size: 0.8vw;
  color: #6d86c9;
  border: #564091 solid 7px;
  border-radius: 35px;
}

.startGame:hover{
  color: #a4baf8;
  border: #8463df solid 7px;
}

.fakeSubmit{
  min-height: 15%;
  min-width: 20%;
  font-size: 2vw;
  color: #7364D9;
  background-color: transparent;
  border: #6D51B7 solid 7px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.09s;
}

.fakeSubmit:active{
  min-height: 13%;
  min-width: 18%;
  font-size: 1.8vw;
  color: #5c50af;
  border: #564091 solid 7px;
  border-radius: 35px;
}

.fakeSubmit:hover{
  color: #8674ff;
  border: #8c69ee solid 7px;
}

.instructions{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.gameRestart{
  display: none;
  font-size: 2vw;
}

.gameReplayButton{
  /* display: none; */
  min-height: 15%;
  min-width: 20%;
  font-size: 2vw;
  color: #8EADFF;
  background-color: transparent;
  border: #6D51B7 solid 7px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.09s;
}

.gameReplayButton:active{
  min-height: 13%;
  min-width: 18%;
  font-size: 1.8vw;
  color: #6d86c9;
  border: #564091 solid 7px;
  border-radius: 35px;
}

.gameReplayButton:hover{
  color: #a4baf8;
  border: #8463df solid 7px;
}

.theWord{
  /* border: olivedrab solid; */
  /* display: none; */
  color: #3A1971;
  font-size: 6vw;
}

.wordCzar{
  font-size: 4vw;
}

#answer{
  border: none;
  width: 50vw;
  height: 5vh;
  font-size: 1.5em;
  outline: none;
}

/* cool lil bounce but idk what to do with it yet */
/* https://fdossena.com/?p=html5cool/buttons/i.frag */
/* .bounce{
 animation:bounce 5s infinite linear;
 position:relative;
}

@keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
} */

.wrapper {
  /* border: springgreen solid; */
  /* background-color: #d6ddf5; */
  display: grid;
  align-items: center; 
  grid-template-columns: repeat(0.5fr 1fr 0.5fr);
  grid-column-gap: 4px;
  grid-row-gap: 5px;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  color: #6D51B7;
}

.wrapperBuffer {
  /* border: violet solid; */
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1, 5;
}

#wrapperBuffer {
  /* border: rgb(133, 36, 133) solid; */
  width: 100%;
  height: 100%;
  grid-column: 5;
  grid-row: 1 , 5;

}

.playerOneScoreContainer {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;
  font-size: 2vw;
  min-height: 80%;
  text-align: center;
}

.playerTwoScoreContainer {
  display: flex;
  flex-direction: column;
  grid-column: 4;
  grid-row: 2;
  font-size: 2vw;
  min-height: 80%;
  text-align: center;
}

.underline{
  text-decoration: underline;
}

.roundCounterContainer {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 2;
  font-size: 2vw;
  height: 80%;
  text-align: center;
}

.computerWordDisplay {
  font-size: 4vw;
  grid-column: 3;
  grid-row: 3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column ;
  justify-content: center;
}

.czarText{
  /* border: solid; */
  display: block;
  font-size: 4.5vw;
  width: 100%;
}

.inputAcknowledgementContainer{
  /* border: solid; */
  display: flex;
  width: 100%;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
}

.inputAcknowledgement{
  /* border: green solid; */
  display: block;
  width: 50%;
  height: 50%;
}

.playerTextField {
  /* border: turquoise solid; */
  grid-column: 3;
  grid-row: 4;
}

.anotherBuffer{
  /* border: solid; */
  grid-row: 5;
  padding: 30px;
  /* grid-column: 1, 3; */
  height: 100%;
  /* width: 100vw; */
  /* position: absolute; */
}

