* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-family: 'Coiny', cursive;
  
}

/* 
font-family: 'Bowlby One', cursive;
font-family: 'Coiny', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Staatliches', cursive; 
*/

body{
  background-color: #FFDF14;
}


.modalStart{
  z-index: +1;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.99);
  color: #8EADFF;
}

.text{
  font-size: 5vw;
}

.startCzar{
  font-size: 2.5vw;
  height: 100%;
}

.gameStart{
  text-align: center;
  font-size: 2vw;
}

.chooseRounds, label{
  cursor: pointer;
}

.roundSelector{
  min-height: 15%;
  min-width: 20%;
  font-size: 0.7vw;
  color: #8EADFF;
  background-color: transparent;
  border: #6D51B7 solid 7px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.09s;
}

.roundSelector:active{
  min-height: 13%;
  min-width: 18%;
  font-size: 0.5vw;
  color: #697fbd;
  border: #574096 solid 7px;
}

.roundSelector:hover{
  color: #afc3fa;
  border: #8663e7 solid 7px;
}

.startGame{
  min-height: 20%;
  min-width: 15%;
  font-size: 0.8em;
  color: #8EADFF;
  background-color: transparent;
  border: #6D51B7 solid 7px;
  border-radius: 35px;
  cursor: pointer;
  outline: none;
  transition: 0.09s;
}

.startGame:active{
  min-height: 18%;
  min-width: 13%;
  font-size: 0.6vw;
  color: #6d86c9;
  border: #564091 solid 7px;
  border-radius: 35px;
}

.startGame:hover{
  color: #a4baf8;
  border: #8463df solid 7px;
}

.instructions{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.startGame{
  display: none;
  max-width: 25%;
}

.gameRestart{
  display: none;
}

.wrapper {
  /* border: springgreen solid; */
  /* background-color: #d6ddf5; */
  display: grid;
  align-items: center; 
  grid-template-columns: repeat(0.5fr 1fr 0.5fr);
  grid-column-gap: 40px;
  grid-row-gap: 5px;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  color: #6D51B7;
}

.wrapperBuffer {
  /* border: violet solid; */
  width: 100%;
  height: 100%;
  grid-column: 1;
  grid-row: 1, 5;
}

#wrapperBuffer {
  /* border: rgb(133, 36, 133) solid; */
  width: 100%;
  height: 100%;
  grid-column: 5;
  grid-row: 1 , 5;

}

.playerOneScoreContainer {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1;
  font-size: 2vw;
  min-height: 80%;
  text-align: center;
}

.playerTwoScoreContainer {
  display: flex;
  flex-direction: column;
  grid-column: 4;
  grid-row: 1;
  font-size: 2vw;
  min-height: 80%;
  text-align: center;
}

.underline{
  text-decoration: underline;
}

.roundCounterContainer {
  display: flex;
  flex-direction: column;
  grid-column: 3;
  grid-row: 1;
  font-size: 2vw;
  height: 80%;
  text-align: center;
}

.computerWordDisplay {
  border: tomato solid;
  grid-column: 3;
  grid-row: 2;
  width: 100%;
  height: 100%;
  font-size: 3.5vw;
}

.playerTextField {
  border: turquoise solid;
  grid-column: 3;
  grid-row: 3;
}

.anotherBuffer{
  border: solid;
  grid-row: 4;
  height: 3%;
  /* width: 100vw; */
}